@font-face{
    font-family: 'Muller Bold';
    src: url('../fonts/MullerBold.woff'), url('../fonts/MullerBold.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Muller Extra Bold';
    src: url('../fonts/MullerExtraBold.woff'), url('../fonts/MullerExtraBold.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Muller Heavy';
    src: url('../fonts/MullerHeavy.woff'), url('../fonts/MullerHeavy.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Muller Medium';
    src: url('../fonts/MullerMedium.woff'), url('../fonts/MullerMedium.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.woff'), url('../fonts/OpenSans.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Open Sans - Extra Bold';
    src: url('../fonts/OpenSansExtrabold.woff'), url('../fonts/OpenSansExtrabold.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Open Sans - Semibold';
    src: url('../fonts/OpenSansSemibold.woff'), url('../fonts/OpenSansSemibold.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
a:active {
    outline: none;
    border: none;
}
a:visited {
    outline: none;
    border: none;
}
a:focus {
    outline: none;
    border: none;
}
p {
    margin: 0;
}
button, input, textarea {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}
.template-width {
    max-width: 1170px;
    margin: 0 auto;
}
* {
    /*outline: 1px solid red;*/
}

.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}
.clear-fix::before {
    display: block;
    content: "";
    clear: both;
}
body {
    margin: 0;
    font-family: 'Open Sans', arial, sans-serif;
    /*background-color: #7f38bd;*/
    background-color: #7f38bd;
    font-size: 16px;
}
.section-title {
    color: #7f38bd;
    font-family: "Muller Bold", arial, sans-serif;
    font-size: 1.875rem;
}
.section__subtitle {
    color: #383d52;
    font-family: "Muller Medium", arial, sans-serif;
    font-size: 2rem;
}
.bright-btn {
    height: 48px;
    border-radius: 24px;
    background-color: #fb0275;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: background-color 0.3s ease-in-out;
}
.bright-btn:hover {
    /*background-color: #ca025f;*/
    /*background-color: #e60063;*/
    background-color: #db005f;
}
.bright-btn:active {
    /*background-color: #ca025f;*/
    background-color: #db005f;
    position: relative;
    top: 1px;
}
.section__subtitle {
    position: relative;
    z-index: 1;
}
.section__subtitle::after {
    display: block;
    text-shadow: 0 0 21px rgba(81, 8, 86, 0.08);
    font-family: "Muller Heavy", arial, sans-serif;
    font-size: 12.5rem;
    position: absolute;
    z-index: -1;
    left: -79px;
    top: -48px;
}
/*-----------------------Конец "Общие стили"------------------------*/

/*--------------------------------------Начало блока "Header"------------------------*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.header__wrap {
    padding: 55px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header__logo {
    color: #ffffff;
    font-family: "Open Sans - Extra Bold", arial, sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    margin-right: 11.9%;

}
.header__menu {
    margin-right: 5.55%;
    /*position: relative;*/
}
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 484px;
}
.top-nav__link {
    color: #ffffff;
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    padding: 15px 10px;
    display: inline-block;
}
.top-nav__item {
    position: relative;
    display: inline-block;
}
.top-nav__item:first-child .top-nav__link {
    padding: 15px 10px 15px 0;
}
.top-nav__item:last-child .top-nav__link {
    padding: 15px 0 15px 10px;
}
.top-nav__link::after {
    display: block;
    height: 2px;
    background-color: #ffffff;
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0%;
    transition: width 0.3s ease-in-out;
}
.top-nav__item:first-child .top-nav__link::after {
    left: -10px;
}
.top-nav__item:last-child .top-nav__link::after {
    right: -11px;
}
.top-nav__item:first-child .top-nav__link:hover::after {
    width: 94%;
}
.top-nav__item:last-child .top-nav__link:hover::after {
    width: 94%;
}
.top-nav__link:hover::after{
    width: 81%;
}
.call {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
}
.call__link {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.call__order {
    width: 165px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: "Open Sans - Extra Bold", arial, sans-serif;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    line-height: 30px;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.call__order:hover {
    color: #7f38bd;
    background-color: #ffffff;
}
/*.header__menu-adapt {*/
    /*display: none;*/
/*}*/
.burger {
    display: none;
}
.burger {
    /*display: block;*/
    position: relative;
    width: 25px;
    height: 16px;
    /*vertical-align: middle;*/
    cursor: pointer;
}
.burger-line {
    /*cursor: pointer;*/
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
}
.burger-line:first-child {
    top: 0;
    transition: 0.2s;
}
.burger-line:nth-child(2),
.burger-line:nth-child(3) {
    top: 45%;
    /*transition: 0.2s;*/
}
.burger-line:last-child {
    bottom: 0;
    transition: 0.2s;
}
/*.burger:hover .burger-line:first-child,*/
/*.burger:hover .burger-line:last-child {*/
    /*display: none;*/
/*}*/
.burger:hover .burger-line:first-child {
    width: 30%;
}
.burger:hover .burger-line:nth-child(2),
.burger:hover .burger-line:nth-child(3) {
    width: 65%;
}
/*.burger:hover .burger-line:nth-child(2){*/
    /*!*position: absolute;*!*/
    /*top: 7px;*/
    /*transform: rotate(30deg);*/
    /*transition: 0.2s;*/
/*}*/
/*.burger:hover .burger-line:nth-child(3) {*/
    /*top: 7px;*/
    /*transform: rotate(-30deg);*/
    /*transition: 0.2s;*/
/*}*/
.header__menu-checkbox:checked ~.burger .burger-line:first-child,
.header__menu-checkbox:checked ~.burger .burger-line:last-child {
    display: none;
}
.header__menu-checkbox:checked ~.burger:hover .burger-line:nth-child(2),
.header__menu-checkbox:checked ~.burger:hover .burger-line:nth-child(3) {
    width: 100%;
}
.header__menu-checkbox:checked ~.burger .burger-line:nth-child(2){
    /*position: absolute;*/
    top: 7px;
    transform: rotate(30deg);
    transition: 0.2s;
}
.header__menu-checkbox:checked ~.burger .burger-line:nth-child(3) {
    top: 7px;
    transform: rotate(-30deg);
    transition: 0.2s;
}
/*.burger:hover .burger-line:last-child {*/
    /*position: absolute;*/
    /*top: 7px;*/
    /*transform: rotate(-45deg);*/
    /*transition: 0.2s;*/
/*}*/
.header__menu-checkbox {
    display: none;
}

/*----------------------------------------Конец блока "Header"------------------------*/

/*----------------------------------------Начало блока "main"--------------------------------------------*/
.site-controls {
    width: 20px;
    height: 212px;
    position: absolute;
    right: 15px;
    opacity: 0.5;
    text-align: center;
    line-height: 0;
    transition: opacity 0.3s ease-in-out;
}
.site-controls--banner {
    top: 385px;
}
.site-controls:hover {
    opacity: 1;
}
.site-controls__section-link {
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 2px solid #cccccc;
    background-color: #cccccc;
    border-radius: 50%;
    line-height: normal;
    margin-bottom: 29px;
    transition: 0.3s;
}

.site-controls__section-link:nth-child(2) {
    margin-bottom: 6px;
}
.site-controls a:nth-child(6) {
    margin-top: 20px;
}
.site-controls__section-link:last-child {
    margin-bottom: 0;
}
.site-controls__subsection-link {
    display: inline-block;
    width: 7px;
    height: 14px;
    /*border: 2px solid #cccccc;*/
    /*background-color: #cccccc;*/
    border-bottom: 1px solid #cccccc;
    line-height: normal;
    /*margin-bottom: 7px;*/
    transition: 0.3s;
    padding: 0 4px;
}
.site-controls__section-link:visited,
.site-controls__subsection-link:visited,
.site-controls__section-link:focus,
.site-controls__subsection-link:focus,
.site-controls__section-link:active,
.site-controls__subsection-link:active {
    border-color: #cccccc;
}
.site-controls__section-link:hover {
    border: 2px solid #fb0275;
    background-color: #fb0275;
}
.site-controls__subsection-link:hover {
    border-color: #fb0275;
}
.site-controls__section-link.active {
    width: 14px;
    height: 14px;
    border: 4px solid #cccccc;
    background-color: transparent;
}
.site-controls__subsection-link.active {
    height: 12px;
    border-bottom: 3px solid #cccccc;
}
.site-controls__section-link.active:hover {
    border: 4px solid #cccccc;
    background-color: transparent;
}
.site-controls__subsection-link.active {
    border-bottom: 3px solid #cccccc;
}
/*-----------------------Начало блока "banner"------------------------*/
.banner {
    max-width: 1920px;
    background: url("../img/bckg_01.jpg") center center no-repeat;
    /*position: relative;*/
    z-index: 1;
}
.banner__wrap {
    padding: 182px 15px 206px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.banner__img {
    margin-left: -111px;
    background-image: radial-gradient(circle closest-side at 60% 60%, #c99ef4, transparent);
    overflow: hidden;
    width: 647px;
    height: 548px;
    /*position: absolute;*/
    /*left: -96px;*/
    /*top: 182px;*/
}
.banner__img img {
    width: 100%;
    height: 100%;
}
.banner__img {
    animation-name: show-pict;
    animation-timing-function: linear;
    animation-duration: 3s;

}
@keyframes show-pict {
    from {
        /*opacity: 0.1;*/
        /*width: 10%;*/
        /*height: 10%;*/
        transform: scale(0,0);
    }
    to {
        /*opacity: 1;*/
        /*width: 100%;*/
        /*height: 100%;*/
        transform: scale(1,1);
    }
}
.banner__descr {
    padding-top: 36px;
    padding-right: 34px;
    /*padding-left: 638px;*/
    /*min-width: 485px;*/
}
.banner__title {
    color: #ffffff;
    font-family: "Muller Extra Bold", arial, sans-serif;
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 39px;
    line-height: 75px;
}
.banner__text {
    color: #ffffff;
    font-family: "Muller Medium", arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 79px;
}
.banner__order-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.banner__order-link {
    width: 247px;
    line-height: 48px;
    text-align: center;
    margin-right: 29px;
}
.banner__order-region {
    color: #ffffff;
    font-size: 1rem;
}
/*-----------------------Конец блока "banner"------------------------*/

/*-----------------------Начало блока "about"------------------------*/
.about {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
.site-controls--about {
    top: 221px;
}
.about::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -67px;
    left: 50%;
    width: 11px;
    height: 130px;
    background: url("../img/section_lines.svg") center center no-repeat;
    z-index: 100;
}
.about__wrap {
    padding: 108px 15px 147px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    position: relative;
}
.about__img {
    float: left;
}
.stages {
    width: 536px;
    height: 491px;
    position: relative;
    /*background: url("../img/pink_line.svg") 50% 35% no-repeat;*/
}
/*.stages::after {*/
    /*display: block;*/
    /*content: "";*/
    /*width: 316px;*/
    /*height: 268px;*/
    /*position: absolute;*/
    /*top: 74px;*/
    /*left: 107px;*/
    /*background: url("../img/pink_line.svg") 50% 50% no-repeat;*/
/*}*/
.stage__lines {
    position: absolute;
    top: 66px;
    left: 82px;
    z-index: 100;
}
.stage__one {
    max-width: 125px;
    position: absolute;
    top: 8px;
    left: 181px;
    z-index: 101;
}
.stage__two {
    max-width: 164px;
    position: absolute;
    top: 147px;
    right: 1px;
    z-index: 101;

}
.stage__three {
    max-width: 149px;
    position: absolute;
    top: 187px;
    left: 0;
    z-index: 101;
}
.stage__four {
    max-width: 113px;
    position: absolute;
    bottom: 0;
    left: 228px;
    z-index: 101;
}
.stage__img {
    width: 106px;
    height: 106px;
    background-color: #f0e2ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    z-index: 101;
}
.stage__one::before {
    display: block;
    content: "";
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 8px;
}
.stage__two::before {
    display: block;
    content: "";
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 21px;
}
.stage__three::before {
    display: block;
    content: "";
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 23px;
}
.stage__four::before {
    display: block;
    content: "";
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    left: 8px;
}
.stage__one svg {
    width: 63px;
    height: 54px;
}
.stage__two svg {
    width: 58px;
    height: 49px;
    transform: rotateZ(-45deg);
}
.stage__three svg {
    width: 54px;
    height: 54px;
}
.stage__three .stage__img::after {
    display: block;
    position: absolute;
    content: "XXL";
    font-family: "Open Sans - Extra Bold", arial, sans-serif;
    color: #ffffff;
    font-size: 0.5625rem;
    top: 32px;
    left: 55px;
}
.stage__four svg {
    width: 71px;
    height: 71px;
    margin-top: 11px;
}
.stage__four .stage__img {
    align-items: flex-start;
}
.stage__two .stage__img::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/pink_arrow.svg") center center no-repeat;
    position: absolute;
    top: -6px;
    left: 14px;
}
.stage__three .stage__img::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/pink_arrow.svg") center center no-repeat;
    position: absolute;
    top: 3px;
    left: 87px;
    transform: rotateZ(111deg);
}
.stage__four .stage__img::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/pink_arrow.svg") center center no-repeat;
    position: absolute;
    top: -2px;
    left: 12px;
    transform: rotateZ(11deg);
}
.stage__descr {
    margin-top: 12px;
    display: inline-block;
    color: #5e606a;
    font-size: 0.8125rem;
    line-height: 18px;
    text-align: center;
}
.about__descr {
    max-width: 44.4%;
    float: right;
}
.about__title {
    margin-bottom: 63px;
}
.about__subtitle {
    margin-bottom: 52px;
}
.about__text {
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
}
.about__text p:first-child,
.about__text p:nth-child(2){
    margin-bottom: 24px;
}
/*-----------------------Конец блока "about"------------------------*/

/*-----------------------Начало блока "services1"------------------------*/
.services {
    width: 100%;
    background-color: #faf8fb;
    position: relative;
    overflow: hidden;
}
.services__wrap {
    padding: 101px 15px 124px;
}
.services__title {
    margin-bottom: 76px;
}
.outside-print {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-areas:
    "subtitle slider"
    "list     slider"
    "ask      slider"
    ".        slider";
    grid-template-columns: 1fr 570px;
}
.site-controls--outside-print {
    top: 312px;
    z-index: 2;
}
.outside-print__subtitle::after {
    color: #faf8fb;
    content: "1";

}
.outside-print__subtitle {
    margin-bottom: 49px;
    grid-area: subtitle;
    max-width: 500px;
}
.outside-print__list {
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 73px;
    grid-area: list;
}
.outside-print__list-item {
    padding-left: 8px;
    position: relative;
}
.outside-print__list-item::before {
    display: inline-block;
    content: ".";
    font-size: 1.5rem;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -8px;
    left: -1px;
}
.outside-print__ask {
    max-width: 474px;
    box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
    border-radius: 10px;
    background-color: #883eca;
    padding: 33px 37px 36px 38px;
    grid-area: ask;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.outside-print__label span {
    display: block;
}
.outside-print__label span:first-child {
    color: #ffffff;
    font-size: 0.8125rem;
    font-style: italic;
    line-height: 23px;
}
.outside-print__label span:nth-child(2) {
    color: #ffffff;
    font-family: "Open Sans - Semibold", arial, sans-serif;
    font-size: 1rem;
    line-height: 21px;
}
.outside-print__ask-link {
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 29px;
}
.outside-print__slider-wrap {
    position: relative;
    max-width: 570px;
    z-index: 1;
    grid-area: slider;
}
.outside-print__slider-wrap::after {
    display: block;
    max-width: 570px;
    height: 460px;
    content: "";
    box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
}
.print-slider {
    max-width: 570px;
}
.print-slider__img {
    max-width: 570px;
    height: 460px;
    overflow: hidden;
    position: relative;
    /*z-index: 1;*/
    /*box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);*/
    border-radius: 10px;
}
.print-slider::before {
    display: block;
    content: "";
    width: 538px;
    height: 433px;
    background-color: #bab4be;
    position: absolute;
    top: -12px;
    left: 15px;
    z-index: -1;
    border-radius: 10px;
}
.print-slider::after {
    display: block;
    content: "";
    width: 499px;
    height: 402px;
    background-color: #e7e2ec;
    position: absolute;
    top: -24px;
    left: 35px;
    z-index: -2;
    border-radius: 10px;
}
.print-slider__text {
    color: #5e606a;
    font-size: 0.8125rem;
    margin-top: 39px;
    text-align: right;
    padding-right: 138px;
}
.outside-print__slider-controls {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 225px;
    height: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.outside-print__slider-prev,
.outside-print__slider-next {
    display: block;
    background: url("../img/slide_arrow_left.svg") center center no-repeat;
    width: 91px;
    height: 15px;
    padding: 8px 0;
}
.outside-print__slider-next {
    transform: rotateZ(180deg);
}
.outside-print__slider-prev:active,
.outside-print__slider-next:active {
    position: relative;
    top: 1px;
}
.slick-list {
    /*overflow: visible;*/
}
/*-----------------------Конец блока "services1"------------------------*/

/*-----------------------Начало блока "services2"------------------------*/
.wide-print {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.wide-print__subtitle::after {
    content: "2";
    color: #ffffff;
}
.site-controls--wide-print {
    top: 410px;
}
.wide-print__wrap {
    padding: 125px 15px 568px 600px;
    position: relative;
    z-index: 1;
}
.wide-print__wrap::after {
    display: block;
    /*content: "";*/
    position: absolute;
    bottom: -67px;
    left: 50%;
    width: 11px;
    height: 130px;
    background: url("../img/section_lines.svg") center center no-repeat;
    z-index: 2;
}
.wide-print__wrap::before {
    display: block;
    content: "";
    width: 1276px;
    height: 813px;
    background: url("../img/sofa.png") center center no-repeat;
    position: absolute;
    bottom: 101px;
    left: -256px;
    z-index: -1;
}
.wide-print__subtitle {
    margin-bottom: 49px;
}
.wide-print__descr {
    max-width: 547px;
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 57px;
    z-index: 1;
}
.wide-print__order {
    width: 241px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}
/*------------------------Конец блока "services2"------------------------*/

/*------------------------Конец блока "services3"------------------------*/
.poligraph-print {
    width: 100%;
    background-color: #faf8fb;
    overflow: hidden;
    position: relative;
}
.site-controls--poligraph-print {
    top: 320px;
}
.poligraph-print__subtitle::after {
    content: "3";
    color: #faf8fb;
}
.poligraph-print__wrap {
    padding: 134px 15px 157px;
    position: relative;
}
.poligraph-print__subtitle {
    margin-bottom: 49px;
}
.poligraph-print__descr {
    max-width: 557px;
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 106px;
    position: relative;
    z-index: 1;
}
.poligraph-print__descr p:first-child {
    margin-bottom: 24px;
}
.poligraph-print__form-label {
    margin-bottom: 26px;
}
.poligraph-print__form-label span{
    display: block;
    color: #383d52;
    line-height: 30.1px;
}
.poligraph-print__form-label span:first-child {
    font-size: 1rem;
    font-style: italic;
    /*line-height: 30.1px;*/
}
.poligraph-print__form-label span:nth-child(2) {
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 20px;
    /*line-height: 30.1px;*/
}
.form-field:focus::placeholder {
    opacity: 0;
}
.form-field::placeholder {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}
.poligraph-print__phone-field {
    margin-right: 43px;
}
.form-field {
    width: 241px;
    margin-right: 35px;
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    font-size: 0.875rem;
    font-style: italic;
    padding-left: 13px;
    padding-bottom: 9px;
}
.poligraph-print__name-field,
.poligraph-print__phone-field {
    color: #868995;
}
.form-field:invalid {
    border-bottom: 1px solid #fb0275;
}
.poligraph-print__form-submit {
    width: 192px;
    position: relative;
}
.poligraph-print__ask-form {
    position: relative;
    max-width: 753px;
    z-index: 2;
}
.poligraph-print__ask-form::after {
    display: block;
    content: "";
    background: url("../img/paper-plane.png") center center no-repeat;
    background-size: contain;
    width: 503px;
    height: 340px;
    position: absolute;
    /*right: -517px;*/
    right: -69%;
    bottom: -34px;
    z-index: 1;
}
.poligraph-print__descr::after {
    display: block;
    content: "";
    width: 648px;
    height: 544px;
    background: url("../img/firmstyle.png") center center no-repeat;
    position: absolute;
    right: -682px;
    top: -267px;
    z-index: -1;
}
/*------------------------Конец блока "services3"------------------------*/

/*------------------------Начало блока "testimonials"------------------------*/
.testimonials {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}
.site-controls--testimonials {
    top: 268px;
    z-index: 3;
}
.testimonials__wrap {
    padding: 134px 15px 60px;
}
.testimonials__title {
    margin-bottom: 77px;
}
.testimonials__slider-wrap {
    /*width: 100%;*/
    position: relative;
    z-index: 1;
}
.testimonials-slider__item {
    width: 844px;
    box-shadow: 0 0 10px rgba(81, 8, 86, 0.08);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 54px 88px 55px 75px;
    margin-right: 25px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.testimonials-slider__item:last-child {
    margin-right: 0;
}
.testimonials-slider__img {
    display: inline-block;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #faf8fb;
    overflow: hidden;
    margin-right: 30px;
}
.testimonials-slider__descr {
    display: inline-block;
}
.testimonials-slider__text {
    max-width: 504px;
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 12px;
}
.testimonials-slider__author {
    color: #383d52;
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 3px;
}
.testimonials-slider__link {
    color: #3594dd;
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 0.875rem;
    transition: color 0.3s ease-in-out;
}
.testimonials-slider__link:hover,
.testimonials-slider__link:active {
    color: #1d6daa;
}
.testimonials__slider-controls {
    width: 229px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 43px;
    margin-left: 147px;
}
.testimonials__slider-prev,
.testimonials__slider-next {
    display: block;
    background: url("../img/slide_arrow_left.svg") center center no-repeat;
    width: 91px;
    height: 15px;
    padding: 8px 0;
}
.testimonials__slider-next {
    transform: rotateZ(180deg);
}
.testimonials__slider-prev:active,
.testimonials__slider-next:active {
    position: relative;
    top: 1px;
}
.testimonials-slider .slick-list {
    overflow: visible;
}
.testimonials__slider-wrap::after {
    display: block;
    width: 844px;
    height: 264px;
    position: absolute;
    right: -725px;
    top: 0;
    content: "";
    background-image: linear-gradient(to left, #ffffff 0%, #ffffff 75%, transparent 100%);
    z-index: 2;
}
.testimonials__slider-wrap::before {
    display: block;
    width: 844px;
    height: 264px;
    position: absolute;
    left: -725px;
    top: 0;
    content: "";
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 75%, transparent 100%);
    z-index: 2;
}
/*------------------------Конец блока "testimonials"------------------------*/

/*------------------------Начало блока "questions"------------------------*/
.questions {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
.site-controls--questions {
    top: 330px;
}
.questions__wrap {
    padding: 64px 15px 170px;
    position: relative;
}
.questions__wrap::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -67px;
    left: 583px;
    width: 11px;
    height: 130px;
    background: url("../img/section_lines.svg") center center no-repeat;
    z-index: 2;
}
.questions__title {
    margin-bottom: 59px;
}
.questions__items {
    min-height: 425px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-content: space-between;*/
}
.questions__item {
    max-width: 550px;
    margin-bottom: 43px;
}
.questions__item:first-child,
.questions__item:nth-child(2),
.questions__item:nth-child(3) {
    /*margin-right: 40px;*/
}
.questions__item:nth-child(3),
.questions__item:last-child {
    margin-bottom: 0;
}
.questions__item-title {
    color: #383d52;
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 22px;
}
.questions__item-text {
    color: #5e606a;
    font-size: 0.875rem;
    line-height: 24px;
}
.questions__request {
    margin-top: 62px;
    padding: 40px 60px 48px 308px;
    width: 100%;
    max-height: 219px;
    border-radius: 10px;
    box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
    background: url("../img/bckg_02.png") center center no-repeat;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.questions__request::before {
    display: block;
    content: "?";
    width: 33px;
    height: 53px;
    color: #ffffff;
    font-family: "Muller Bold", arial, sans-serif;
    font-size: 4.25rem;
    position: absolute;
    left: 133px;
    top: 78px;
    z-index: 2;
}
.questions__request::after {
    z-index: 2;
    display: block;
    content: "";
    width: 241px;
    height: 219px;
    background: url("../img/ico_question.png") center center no-repeat;
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0.1;
    /*transition: opacity 0.3s ease-in-out;*/
}
.questions__request:hover::after {
    opacity: 1;
    animation-name: rotateAnimation;
    animation-duration: 8s;
    /*animation-iteration-count: infinite | <число>*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes rotateAnimation {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.questions__label {
    margin-bottom: 30px;
}
.questions__label span:first-child {
    display: block;
    color: #ffffff;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 4px;
}
.questions__label span:last-child {
    display: block;
    color: #ffffff;
    font-family: "Open Sans - SemiBold", arial, sans-serif;
    font-size: 1.25rem;
}
.questions__name-field,
.questions__phone-field,
.questions__phone-field::placeholder,
.questions__name-field::placeholder {
    color: #ffffff;
}
.questions__phone-field {
    margin-right: 47px;
}
.questions__form-submit {
    width: 192px;
}
/*------------------------Конец блока "questions"------------------------*/

/*------------------------Начало блока "contacts"------------------------*/
.contacts {
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
    z-index: 1;
}
.site-controls--contacts{
    top: 200px;
}
.contacts iframe {
    width: 100%;
    height: 653px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.contacts__wrap {
    padding: 121px 15px 149px;
    z-index: 2;
}
.contacts__info {
    max-width: 458px;
    background-color: #ffffff;
    padding: 86px 102px 116px 86px;
    border-radius: 10px;
}
.contacts__title {
    margin-bottom: 51px;
}
.contacts__list span,
.contacts__list a {
    display: block;
    color: #5e606a;
    font-size: 0.875rem;
    margin-bottom: 21px;
    padding-left: 29px;
    position: relative;

}
.contacts__list a:last-child {
    margin-bottom: 0;
}
.contacts__address:hover::before,
.contacts__email:hover::before,
.contacts__phone:hover::before {
    transform: scale(1.2,1.2);
}
.contacts__address::before {
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    content: "";
    width: 12px;
    height: 18px;
    background: url("../img/ico-tag.svg") center center no-repeat;
    background-size: contain;
    transition: 0.2s;
}
.contacts__email::before {
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    content: "";
    width: 14px;
    height: 11px;
    background: url("../img/ico_mail.svg") center center no-repeat;
    background-size: contain;
    transition: 0.2s;
}
.contacts__phone::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 15px;
    height: 16px;
    background: url("../img/ico_phone.svg") center center no-repeat;
    background-size: contain;
    transition: 0.2s;
}
/*------------------------Конец блока "contacts"------------------------*/

/*----------------------------------------------Конец блока "main"-------------------------------------*/

/*----------------------------------------------Начало блока "footer"-------------------------------------*/
.footer {
    width: 100%;
    background-color: #65269d;
}
.footer__wrap {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 0.8125rem;
}
.footer__copyright,
.footer__privacy-link,
.footer__design {
    opacity: 0.7;
}
.footer__privacy-link {
    text-decoration: underline;
    transition: opacity 0.3s ease-in-out;
}
.footer__privacy-link:hover {
    opacity: 1;
}
.footer__privacy-link:visited {
    color: #ffffff;
    opacity: 0.7;
}
/*----------------------------------------------Конец блока "footer"-------------------------------------*/

/*----------------------------------------------Начало стилей для адатива-------------------------------------*/
@media all and (max-width: 1169px){
    .header__wrap {
        padding: 40px 15px 30px;
    }
    .banner__wrap {
        padding: 182px 0 174px;
    }
    .header__call {
        margin-top: 15px;
    }
    .banner__img {
        width: 597px;
        height: 498px;
        left: -16px;
    }
    .banner__title {
        font-size: 2.8125rem;
        line-height: 55px;
    }
    .banner__text {
        font-size: 1.3125rem;
    }
    .banner__order-region {
        margin-top: 20px;
    }
    .section__subtitle::after {
        left: 36px;
        top: -68px;
    }
    .poligraph-print__ask-form::after {
        /*right: 191px;*/
        /*bottom: 101px;*/
        background-size: cover;
        background: url("../img/paper-plane.png") right center no-repeat;
        width: 208px;
        right: -28%;
        bottom: -59px;
    }
}
@media all and (max-width: 1100px) {
    .outside-print__ask {
        max-width: 408px;
        flex-direction: column;
    }
    .outside-print__label {
        margin-bottom: 15px;
    }
    .outside-print__ask-link {
        margin-left: 0;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .banner__descr {
        max-width: 325px;
    }
    .services__wrap {
        max-width: 748px;
        margin: 0 auto;
    }
    .outside-print {
        margin: 0 auto;
        grid-template-areas:
                "subtitle"
                "list"
                "slider"
                "ask";
        grid-template-columns: 718px;
        justify-content: center;
    }
    .outside-print__ask {
        max-width: 100%;
        flex-direction: row;
        padding: 33px 33px 36px 36px;
        align-items: center;
    }
    .outside-print__ask-link {
         /*margin-left: 70px;*/
         width: 249px;
     }
    .outside-print__label {
        margin-bottom: 0;
    }
    .outside-print__slider-wrap {
        max-width: 718px;
        margin-bottom: 50px;
    }
    .print-slider {
        max-width: 718px;
    }
    .print-slider__img {
        max-width: 718px;
    }
    .print-slider::before {
        width: 688px;
    }
    .print-slider::after {
        width: 653px;
    }
    .outside-print__slider-wrap::after {
        max-width: 718px;
    }
    .outside-print__label span {
        display: inline-block;
    }
    .outside-print__label span:first-child {
        margin-right: 36px;
    }
    .outside-print__subtitle {
        max-width: 100%;
    }
}
@media all and (max-width: 993px) {
    .about__descr {
        max-width: 39.4%;
        padding-right: 15px;
    }
    .wide-print__wrap {
        padding: 125px 15px 568px 500px;
    }
    .poligraph-print__ask-form {
        max-width: 545px;
    }
}
@media all and (max-width: 948px) {
    .banner__img {
        width: 546px;
        height: 462px;
        margin-left: -90px;
    }
}
@media all and (max-width: 915px) {
    .about__wrap {
        padding: 51px 30px 147px;
    }
    .about__descr {
        float: none;
        max-width: 100%;
        padding-right: 0;
    }
    .about__title {
        margin-bottom: 43px;
    }
    .about__subtitle {
        margin-bottom: 29px;
    }
    .about__img {
        float: none;
        margin: 0 auto;
        width: 720px;
        height: 511px;
    }
    .stage__lines svg {
        width: 514px;
        height: 280px;
    }
    .stage__one {
        top: 49px;
        left: 183px;
    }
    .stage__two {
        top: 146px;
        right: 3px;
    }
    .stage__three {
        top: 229px;
        left: 1px;
    }
    .stage__four {
        bottom: 0px;
        left: 393px;
    }
    .stage__lines {
        top: 104px;
        left: 82px;
    }
    .stage__two .stage__img::before {
        top: 27px;
        left: -12px;
    }
    .stage__three .stage__img::before {
        top: 6px;
        left: 91px;
    }
    .stage__four .stage__img::before {
        top: 19px;
        left: -7px;
        transform: rotateZ(-9deg);
    }
    .stage__two::before {
        left: 24px;
    }
    .stage__four::before {
        left: 1px;
    }
    .services__title {
        margin-bottom: 57px;
    }
    .wide-print__wrap {
        padding: 100px 30px 568px;
    }
    .wide-print__wrap::before {
        transform: scale(-1, 1);
        left: 13%;
    }
    .poligraph-print__descr::after {
        width: 453px;
        height: 381px;
        background-size: contain;
        right: -329px;
        top: 226px;
    }
    .poligraph-print__ask-form {
        max-width: 313px;
    }
    .poligraph-print__name-field {
        margin-bottom: 20px;
    }
    .poligraph-print__phone-field {
        margin-bottom: 40px;
    }
    .poligraph-print__form-submit {
        width: 241px;
    }
    .poligraph-print__ask-form::after {
        right: -43%;
    }
    /*.testimonials__slider-wrap::after {*/
        /*display: none;*/
    /*}*/
    /*.testimonials__slider-wrap::before {*/
        /*display: none;*/
    /*}*/
    .testimonials__slider-controls {
        margin-left: 25px;
    }
    .testimonials-slider__item {
        width: 718px;
        padding: 54px 66px 55px 75px;
    }
    .testimonials-slider__text {
        max-width: 404px;
    }
}
@media all and (max-width: 848px) {

}
@media all and (max-width: 700px) {
    .poligraph-print__ask-form::after {
        display: none;
    }
    .poligraph-print__descr::after {
        right: -139px;
        top: 180px;
    }
}
@media all and (max-width: 780px) {
    .header__wrap {
        justify-content: space-between;
        padding: 22px 30px 30px;
    }
    .header__menu {
        margin-right: 0;
    }
    .burger {
        display: block;
    }
    .header__call {
        display: none;
    }
    .top-nav {
        width: 0;
        overflow: hidden;
        position: absolute;
        /*transition: width 0.3s ease;*/
    }
    .top-nav__item {
        display: block;
    }
    .header__menu-checkbox:checked ~.top-nav {
        transition: width 0.3s ease;
        width: 337px;
        display: block;
        top: 70px;
        right: -15px;
    }
    .top-nav {
        /*background-color: #7f38bd;*/
        background: linear-gradient(to right, #a044ff 0%, #6a3093 100%);
        border-radius: 10px 0 0 10px;
    }
    .top-nav__link {
        display: block;
    }
    .top-nav__item:first-child .top-nav__link,
    .top-nav__item:last-child .top-nav__link {
        padding: 15px 10px;
    }
    .top-nav__link::after {
        width: 30%;
        height: 1px;
        left: 10px;
        margin: 0;
    }
    .top-nav__item:first-child .top-nav__link:hover::after {
        width: 93%;
    }
    .top-nav__item:last-child .top-nav__link:hover::after {
        width: 93%;
    }
    .top-nav__link:hover::after{
        width: 93%;
    }
    .top-nav__item:first-child .top-nav__link::after {
        /*right: 0;*/
        left: 10px;
    }
    .top-nav__item:last-child .top-nav__link::after {
        display: none;
    }
    .banner__wrap {
        padding: 52px 15px 77px;
    }
    .banner__img {
        margin-left: -110px;
        margin-top: 8px;
    }
    .site-controls {
        display: none;
    }
    .banner__descr {
        padding-right: 0;
        max-width: 281px;
    }
    .banner__title {
        margin-bottom: 29px;
        letter-spacing: 2px;
    }
    .banner__text {
        margin-bottom: 35px;
    }
    .banner__order-region {
        margin-top: 24px;
        line-height: 20.5px;
    }
    .about__wrap {
        padding: 51px 30px 147px;
    }
    .about__img {
        width: 100%;
    }
    .stage__two .stage__img::before,
    .stage__three .stage__img::before,
    .stage__four .stage__img::before {
        display: none;
    }
    .services__wrap {
        max-width: 100%;
        padding: 101px 30px 124px;
    }
    .outside-print {
        grid-template-columns: 1fr;
    }
    .poligraph-print__wrap {
        padding: 134px 30px 157px;
    }
    .questions__wrap {
        padding: 64px 30px 170px;
    }
    .contacts__wrap {
        padding: 121px 30px 149px;
    }
    .testimonials__wrap {
        padding: 134px 30px 60px;
    }
}
@media all and (max-width: 778px) {
    .outside-print__slider-wrap {
        max-width: 570px;
        justify-self: center;
    }
    .print-slider {
        max-width: 570px;
    }
    .print-slider__img {
        max-width: 570px;
    }
    .print-slider::before {
        width: 538px;
    }
    .print-slider::after {
        width: 499px;
    }
    .testimonials-slider__item {
        width: 570px;
        padding: 54px 30px 55px;
        text-align: center;
    }
    .testimonials-slider__text {
        max-width: 100%;
        /*text-align: left;*/
    }
    .testimonials-slider__descr {
        text-align: left;
    }
    .testimonials__slider-wrap::after,
    .testimonials__slider-wrap::before {
        height: 100%;
    }
    .testimonials__slider-wrap::before {
        /*display: none;*/
    }
    .testimonials-slider__img {
        /*display: block;*/
        text-align: center;
        margin-bottom: 20px;
    }
    .testimonials__slider-wrap {
        text-align: center;
    }
    .testimonials__slider-controls {
        display: inline-block;
        margin-left: 0;
    }
    .testimonials__slider-prev {
        margin-right: 41px;
    }
    .testimonials__slider-prev, .testimonials__slider-next {
        display: inline-block;
        vertical-align: middle;
    }
}
@media all and (max-width: 746px) {
    .banner {
        background: linear-gradient(to right, #a044ff 0%, #6a3093 100%);
    }
    .banner__wrap {
        justify-content: center;
    }
    .outside-print__label span {
        display: block;
    }
}
@media all and (max-width: 700px) {
    .stage__lines {
        width: 468px;
        height: 280px;
        overflow: hidden;
    }
    .stage__two {
        top: 154px;
    }
    .stage__two::before {
        width: 130px;
        height: 130px;
        top: -11px;
    }
    .stage__lines {
        left: 70px;
    }
}
@media all and (max-width: 672px) {
    .testimonials-slider__item {
        width: 450px;
    }
}
@media all and (max-width: 640px) {
    /*.about__wrap {*/
        /*padding: 51px 30px 147px;*/
    /*}*/
    .stages {
        width: 536px;
    }
    .stage__one {
        top: 8px;
        left: 181px;
    }
    .stage__two {
        top: 147px;
        right: 1px;
    }
    .stage__three {
        top: 187px;
        left: 0;
    }
    .stage__four {
        bottom: 12px;
        left: 228px;
    }
    .stage__lines {
        top: 66px;
        left: 82px;
    }
    .stage__two .stage__img::before {
        top: -6px;
        left: 14px;
    }
    .stage__three .stage__img::before {
        top: 3px;
        left: 87px;
    }
    .stage__four .stage__img::before {
        top: -11px;
        left: 19px;
        transform: rotateZ(7deg);
    }
    .stage__two .stage__img::before,
    .stage__three .stage__img::before,
    .stage__four .stage__img::before {
        display: block;
    }
    .wide-print__wrap::before {
        left: 6%;
    }
}
@media all and (max-width: 630px) {
    .outside-print__slider-wrap {
        max-width: 570px;
        justify-self: center;
    }
    .print-slider {
        max-width: 470px;
    }
    .outside-print__slider-wrap::after {
        height: 380px;
    }
    .print-slider__img {
        max-width: 470px;
        height: 380px;
    }
    .print-slider::before {
        width: 440px;
        height: 300px;
    }
    .print-slider::after {
        width: 400px;
        height: 300px;
    }
    .print-slider__text {
        padding-right: 0;
    }

}
@media all and (max-width: 585px) {
    /*.outside-print__ask {*/
        /*flex-direction: column;*/
    /*}*/
    .outside-print__ask-link {
        width: 50%;
    }
}
@media all and (max-width: 566px) {
    .stages {
        width: 100%;
    }
    .stage__two .stage__img::before,
    .stage__three .stage__img::before,
    .stage__four .stage__img::before {
        display: none;
    }
    .wide-print__wrap::before {
        left: 0;
    }
}
@media all and (max-width: 540px) {
    .banner__img {
        margin-left: -50px;
        width: 341px;
        height: 288px;
    }
    .stage__two {
        top: 133px;
        right: 0;
    }
    .stage__three {
        left: 32px;
    }
    .header__wrap {
        padding: 18px 15px 30px;
    }
    .about__wrap {
        padding: 51px 15px 147px;
    }
    .services__wrap {
        padding: 101px 15px 124px;
    }
    .wide-print__wrap {
        padding: 100px 15px 568px;
    }
    .poligraph-print__wrap {
        padding: 134px 15px 157px;
    }
    .questions__wrap {
        padding: 64px 15px 170px;
    }
    .contacts__wrap {
        padding: 121px 15px 149px;
    }
    .testimonials__wrap {
        padding: 134px 15px 60px;
    }
}
@media all and (max-width: 500px) {
    .stages {
        width: 290px;
        height: 696px;
    }
    .stage__lines {
        width: 160px;
        height: 454px;
        top: 116px;
        left: 66px;
    }
    .stage__lines svg {
        width: 160px;
        height: 454px;
    }
    .stage__one {
        top: 11px;
        left: 84px;
    }
    .stage__two {
        max-width: 106px;
        top: 209px;
        right: 3px;
    }
    .stage__three {
        max-width: 123px;
        left: 2px;
        top: 303px;
    }
    .stage__four {
        bottom: 0;
        left: 91px;
    }
    .stage__two .stage__img::before,
    .stage__three .stage__img::before,
    .stage__four .stage__img::before {
        display: block;
    }
    .stage__two .stage__img::before {
        top: -11px;
        left: 40px;
        transform: rotateZ(32deg);
    }
    .stage__three .stage__img::before {
        top: 12px;
        left: 96px;
    }
    .stage__four .stage__img::before {
        top: -14px;
        left: 52px;
        transform: rotateZ(44deg);
    }
    .section__subtitle {
         font-size: 1.5rem;
    }
    .outside-print__slider-wrap {
        max-width: 290px;
        justify-self: center;
        margin-bottom: 85px;
    }
    .print-slider {
        max-width: 290px;
    }
    .outside-print__slider-wrap::after {
        height: 188px;
    }
    .print-slider__img {
        max-width: 290px;
        height: 188px;
    }
    .print-slider__img img {
        width: 100%;
        height: 100%;
    }
    .print-slider::before {
        width: 260px;
        height: 100px;
        top: -6px;
    }
    .print-slider::after {
        width: 221px;
        height: 100px;
        top: -12px;
    }
    .print-slider__text {
        padding-right: 0;
    }
    .print-slider__text {
        text-align: left;
        margin-top: 14px;
    }
    .outside-print__slider-controls {
        bottom: -43px;
        left: 30px;
    }
    .outside-print__label {
        margin-bottom: 15px;
    }
    .outside-print__ask-link {
        width: 100%;
    }
    .about::after {
        display: none;
    }
    .wide-print__wrap {
        padding: 100px 15px 251px;
    }
    .wide-print__wrap::before {
        width: 514px;
        height: 332px;
        background-size: contain;
        bottom: 65px;
        left: 53px;
    }
    .poligraph-print__descr::after {
        width: 304px;
        height: 255px;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 255px;
    }
    .poligraph-print__descr {
        margin-bottom: 300px;
    }
    .poligraph-print__ask-form {
        max-width: 100%;
    }
}
@media all and (max-width: 480px) {
    .top-nav {
        border-radius: 0;
    }
    .header__menu-checkbox:checked ~.top-nav {
        width: 103.5%;
    }
    .banner__title {
        font-size: 2.25rem;
        line-height: 45px;
    }

    .testimonials-slider__item {
        width: 290px;
    }
}
@media all and (max-width: 390px) {
    .poligraph-print__name-field,
    .poligraph-print__phone-field {
        width: 100%;
    }
    .poligraph-print__form-submit {
        width: 100%;
    }
    .poligraph-print__descr {
        margin-bottom: 350px;
    }
    .poligraph-print__descr::after {
        top: 330px;
    }
    .testimonials__slider-wrap::after,
    .testimonials__slider-wrap::before {
    display: none;
    }
}
@media all and (max-width: 320px) {
    .header__menu-checkbox:checked ~.top-nav {
        width: 105%;
    }
    .banner__wrap {
        padding: 39px 15px 63px;
    }
    .banner__descr {
        padding-top: 41px;
    }
    .banner__descr {
        max-width: 290px;
    }
    .banner__title {
        margin-bottom: 20px;
    }
    .banner__text {
         margin-bottom: 44px;
     }
    .banner__order-link {
        width: 100%;
        margin-right: 0;
    }
    .about__wrap {
        padding: 38px 15px 65px;
    }
    .about__title {
        margin-bottom: 20px;
    }

    .about__subtitle {
        margin-bottom: 32px;
    }

}